body{
    font-family: Arial;
    background:#f2f2f2;
}

h2{
    text-align:center;
    color:blue;
}

form{
    width:300px;
    margin:auto;
    padding:20px;
    background:white;
    border:1px solid black;
}

input[type=text],select{
    width:100%;
    padding:6px;
}

input[type=submit]{
    background:blue;
    color:white;
    padding:8px 15px;
    border:none;
    cursor:pointer;
}

input[type=submit]:hover{
    background:darkblue;
}
